USE [master]
GO
/****** Object:  Database [PROJET_BD_H2021]    Script Date: 2021-04-19 21:42:45 ******/
CREATE DATABASE [PROJET_BD_H2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROJET_BD_H2021', FILENAME = N'C:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROJET_BD_H2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROJET_BD_H2021_log', FILENAME = N'C:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROJET_BD_H2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROJET_BD_H2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROJET_BD_H2021]
GO
/****** Object:  Table [dbo].[ADRESSE]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRESSE](
	[Id_Adresse] [smallint] NOT NULL,
	[Num_Rue] [smallint] NULL,
	[Nom_Rue] [varchar](25) NULL,
	[Pays] [varchar](10) NULL,
	[Ville] [varchar](10) NULL,
	[Code_Postal] [varchar](6) NOT NULL,
 CONSTRAINT [PK_ADRESSE] PRIMARY KEY CLUSTERED 
(
	[Id_Adresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[Id_Client] [smallint] NOT NULL,
	[Nom] [varchar](20) NULL,
	[Prénom] [varchar](20) NULL,
	[Téléphone] [char](12) NULL,
	[Id_Hôtel] [smallint] NOT NULL,
	[Id_Adresse] [smallint] NOT NULL,
	[Email] [varchar](30) NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[Id_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Client] UNIQUE NONCLUSTERED 
(
	[Nom] ASC,
	[Prénom] ASC,
	[Téléphone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Client_Ville]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Client_Ville] 
AS SELECT CLIENT.Nom, CLIENT.Prénom, CLIENT.Téléphone 
FROM ADRESSE INNER JOIN CLIENT ON ADRESSE.Id_Adresse = CLIENT.Id_Adresse
WHERE (ADRESSE.Ville = 'Toronto')
GO
/****** Object:  Table [dbo].[RÉSERVATION]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RÉSERVATION](
	[Num_Réservation] [bigint] NOT NULL,
	[Date_Arrivée] [date] NOT NULL,
	[Date_Départ] [date] NOT NULL,
	[Nbre_Chambre] [decimal](18, 0) NOT NULL,
	[Id_Client] [smallint] NOT NULL,
	[Num_Facture] [int] NOT NULL,
 CONSTRAINT [PK_RÉSERVATION] PRIMARY KEY CLUSTERED 
(
	[Num_Réservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STANDING]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDING](
	[Id_Standing] [smallint] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Prix] [smallmoney] NOT NULL,
 CONSTRAINT [PK_STANDING] PRIMARY KEY CLUSTERED 
(
	[Id_Standing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATÉGORIE_RÉSERVATION]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATÉGORIE_RÉSERVATION](
	[Num_Réservation] [bigint] NOT NULL,
	[Id_Standing] [smallint] NOT NULL,
 CONSTRAINT [PK_CATÉGORIE_RÉSERVATION] PRIMARY KEY CLUSTERED 
(
	[Num_Réservation] ASC,
	[Id_Standing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Clients_VIP]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Clients_VIP]
AS SELECT CLIENT.Nom, CLIENT.Prénom, CLIENT.Téléphone, 
STANDING.Description, STANDING.Prix FROM CLIENT, RÉSERVATION, STANDING, CATÉGORIE_RÉSERVATION WHERE (CLIENT.Id_Client = RÉSERVATION.Id_Client) AND (STANDING.Id_STANDING = CATÉGORIE_RÉSERVATION.Id_STANDING) AND (RÉSERVATION.Num_Réservation = CATÉGORIE_RÉSERVATION.Num_Réservation) AND (STANDING.Prix > 100)
GO
/****** Object:  Table [dbo].[CHAMBRE]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMBRE](
	[Num_Chambre] [smallint] NOT NULL,
	[Téléphone] [varchar](3) NULL,
	[Nbre_Lit] [decimal](18, 0) NOT NULL,
	[Id_Standing] [smallint] NOT NULL,
 CONSTRAINT [PK_CHAMBRE] PRIMARY KEY CLUSTERED 
(
	[Num_Chambre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURE]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[Num_Facture] [int] NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_FACTURE] PRIMARY KEY CLUSTERED 
(
	[Num_Facture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HÔTEL]    Script Date: 2021-04-19 21:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HÔTEL](
	[Id_Hôtel] [smallint] NOT NULL,
	[Nom] [varchar](20) NULL,
	[Téléphone] [char](12) NULL,
	[Id_Adresse] [smallint] NOT NULL,
 CONSTRAINT [PK_HÔTEL] PRIMARY KEY CLUSTERED 
(
	[Id_Hôtel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Adresse_Ville]    Script Date: 2021-04-19 21:42:45 ******/
CREATE NONCLUSTERED INDEX [Adresse_Ville] ON [dbo].[ADRESSE]
(
	[Ville] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Client_Nom]    Script Date: 2021-04-19 21:42:45 ******/
CREATE NONCLUSTERED INDEX [Client_Nom] ON [dbo].[CLIENT]
(
	[Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATÉGORIE_RÉSERVATION]  WITH CHECK ADD  CONSTRAINT [FK_Catégories] FOREIGN KEY([Id_Standing])
REFERENCES [dbo].[STANDING] ([Id_Standing])
GO
ALTER TABLE [dbo].[CATÉGORIE_RÉSERVATION] CHECK CONSTRAINT [FK_Catégories]
GO
ALTER TABLE [dbo].[CATÉGORIE_RÉSERVATION]  WITH CHECK ADD  CONSTRAINT [FK_RÉSERVATION] FOREIGN KEY([Num_Réservation])
REFERENCES [dbo].[RÉSERVATION] ([Num_Réservation])
GO
ALTER TABLE [dbo].[CATÉGORIE_RÉSERVATION] CHECK CONSTRAINT [FK_RÉSERVATION]
GO
ALTER TABLE [dbo].[CHAMBRE]  WITH CHECK ADD  CONSTRAINT [FK_Standing] FOREIGN KEY([Id_Standing])
REFERENCES [dbo].[STANDING] ([Id_Standing])
GO
ALTER TABLE [dbo].[CHAMBRE] CHECK CONSTRAINT [FK_Standing]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_Client_Adresse] FOREIGN KEY([Id_Adresse])
REFERENCES [dbo].[ADRESSE] ([Id_Adresse])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_Client_Adresse]
GO
ALTER TABLE [dbo].[HÔTEL]  WITH CHECK ADD  CONSTRAINT [FK_Adresse] FOREIGN KEY([Id_Adresse])
REFERENCES [dbo].[ADRESSE] ([Id_Adresse])
GO
ALTER TABLE [dbo].[HÔTEL] CHECK CONSTRAINT [FK_Adresse]
GO
ALTER TABLE [dbo].[HÔTEL]  WITH CHECK ADD  CONSTRAINT [FK_Hôtel] FOREIGN KEY([Id_Hôtel])
REFERENCES [dbo].[HÔTEL] ([Id_Hôtel])
GO
ALTER TABLE [dbo].[HÔTEL] CHECK CONSTRAINT [FK_Hôtel]
GO
ALTER TABLE [dbo].[RÉSERVATION]  WITH CHECK ADD  CONSTRAINT [FK_Client] FOREIGN KEY([Id_Client])
REFERENCES [dbo].[CLIENT] ([Id_Client])
GO
ALTER TABLE [dbo].[RÉSERVATION] CHECK CONSTRAINT [FK_Client]
GO
ALTER TABLE [dbo].[RÉSERVATION]  WITH CHECK ADD  CONSTRAINT [FK_Facture] FOREIGN KEY([Num_Facture])
REFERENCES [dbo].[FACTURE] ([Num_Facture])
GO
ALTER TABLE [dbo].[RÉSERVATION] CHECK CONSTRAINT [FK_Facture]
GO
USE [master]
GO
